html,
body {
  height: 100%;
}

body {
  background-color: #ddd;
}

.page__wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;
  background-image: url(/static/assets/background-zebras-min.jpg);
  background-size: cover;
}

.page__header {
  background-color: #222;
}

.page__footer {
  background-color: #222;
  border-radius: 0 !important;
  clear: both;
  color: #ccc;
  height: 34px;
  margin-bottom: 0;
  position: relative;
}

.footer__link+.footer__link:before {
  content: '\B7';
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 13px;
}

.login__outer {
  margin-top: 100px;
  padding: 20px;
}

.login__widget {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 20px;
}

.login__left-column-inner {
  border-bottom: 1px solid #ccc;
}

@media(min-width: 768px) {
  .login__left-column-inner {
    border-bottom: none;
  }

  .login__left-column {
    border-right: 1px solid #ccc;
  }
}

.login__right-column-inner {
  padding-top: 15px;
}

.u--login-button {
  background-color: #a60044;
  background-image: linear-gradient(#d81436, #a60044);
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

.u--login-button:hover {
  background-color: #c40022;
  background-image: linear-gradient(#d81436, #c40022);
  color: #fff;
}
