{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
    <div class="login__outer">
      <div class="login__widget">
        <div class="row">
          <div class="col-xs-12 col-sm-6 login__left-column">
            <div class="login__left-column-inner">
              <h1>FAR</h1>
              <p>SAML SSO for OpenStack Keystone compatible APIs.</p>
              <blockquote>
                <p>If you want to go <strong>fast</strong>, go alone.</p>
                <p>If you want to go <strong>far</strong>, go together.</p>
              </blockquote>
              <p>- African Proverb</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="login__right-column-inner">
              <form action="/?{{ post_params }}" method="post">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control"
                    name="username" id="username">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control"
                    name="password" id="password">
                </div>
                <div class="pull-right">
                  <input type="hidden" value="{{ next }}" name="next" id="next">
                  <button type="submit" class="btn u--login-button">Sign In</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}